body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}


/* SETTINGS */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans.woff2);
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
p {
  font-family: Roboto;
  letter-spacing: 0.1rem;
}

li {
  font-family: OpenSans;
  letter-spacing: 0.1rem;
}

/* MAIN */
.wrapper {
  width: 480px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(238, 238, 238);
}

header img {
  height: 20vw;
}

section {
  border: 5px solid transparent;
  border-image: linear-gradient(to left top,#48ff00 10%,  transparent 30%, transparent 70%, #88ffd7 90%);
  border-image-slice: 1;
}

.outer-list {
  list-style: none;
  padding-left: 0;
}

.inner-list {
  list-style: square;
}


/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
}

footer p {
  align-self: center;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

footer li {
  list-style: none;
}

footer img {
  height: 40px;
}

footer li:hover {
  transform: scale(1.1, 1.1);
}