.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper img {
  height: 20vw;
}

.outer-list {
  list-style: none;
  padding-left: 0;
}

.inner-list {
  list-style: square;
}
